// Place all the styles related to the category controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.space{
    // margin-left:500px;
    
    margin-left: 300px;
    font-size: 30px;

}
.container{
    font-size: 30px;
}

.form-size{
    font-size: 30px;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}
.header-color{
    background-color:#00FF00;
}
.login-icon {
    // margin-left: -27px;/
    margin-left: -90px;
}

.home-icon {
    margin-left: 700px;
}

.user_name{
    margin-left: 800px;

}